{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
      <div class="card">
        <img src="{{book.image.url}}" class="mx-auto d-block" width="20%" height="350px">
        <div class="card-header">
          <p class="card-text">{{book.title}}</p>
          <p> <a class="card-text" style="text-decoration: none; " href="{{ book.author.get_author_url }}">{{book.author}}</a></p>
          <p class="card-text">{{book.display_genre}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{book.summary}}</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">Add to cart</button>
            <span class="badge bg-success">{{book.price}}$</span>
        </div>
      </div>
      </p>
    </div>
{% endblock content %}