{% extends 'base.html' %}
{% block content %}
<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">О нас</h4>
          <p class="text-muted">Добавьте информацию об альбоме ниже, авторе или любом другом фоновом контексте. Составьте несколько предложений, чтобы люди могли почерпнуть полезные сведения. Затем свяжите их с сайтами социальных сетей или с контактной информацией.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Сontacts</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Subscribe to Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Write to me/a&gt;</a></li><a href="#" class="text-white">
          </a></ul><a href="#" class="text-white">
        </a></div><a href="#" class="text-white">
      </a></div><a href="#" class="text-white">
    </a></div><a href="#" class="text-white">
  </a></div><a href="#" class="text-white">
  </a><div class="navbar navbar-dark bg-dark shadow-sm"><a href="#" class="text-white">
    </a><div class="container"><a href="#" class="text-white">
      </a><a href="#" class="navbar-brand d-flex align-items-center">
        <strong>{% if author %} {{ author.last_name }}'s Book catalog {% elif genre %} {{genre.name}}'s {% else %} Book Catalog {% endif%}</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Переключить навигацию">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        {% if books %}
        {% for book in books %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{book.image.url}}" width="90%" height="350px">
            <div class="card-body">Title: {{book.title}}
              <p>Author:<a class="card-text" href="{{ book.author.get_author_url }}" style="text-decoration: none; "> {{book.author}}</a></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ book.get_book_url }}">Show</a>
                  <a type="button" class="btn btn-primary" href="{{ book.add_to_cart }}">Add to cart</a>
                </div>
                <span class="badge bg-success">{{book.price}}$</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container">
          Sorry, there are no books for this request.
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="container" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"></path>
            </svg>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}